
.img{
    display: block;
    margin: 0px auto;
}
.bcentrado  {
    width: 300px; 
    margin-left: 50%;
    transform: translateX(-50%);
    
}
.text {
    width: 300px; 
    margin-left: 50%;
    transform: translateX(-50%);
    border: 10px;
    color: white;
}
.toggle{
    margin-left: 50%;
    transform: translateX(-265%);
}
.sc-ion-input-md-s{
    color: white;
}
.encabezado{
    background-color: #ff0018 ;
    border-radius: 10px;
    margin: 10px;
    text-align: center ;
    padding: 10px;
}
.toggle{
    margin-left: 50%;
    transform: translateX(-265%);
}
.text2 {
    width: 300px; 
    margin-left: 50%;
    transform: translateX(-50%);
    border: 10px;
    color: white;
    text-align: center;
}


