<ion-header>
  <ion-toolbar >
    <ion-back-button slot="start" defaultHref="/" color="danger" >
      <ion-icon name="arrow-back-circle-outline" color="danger" > </ion-icon> 
    </ion-back-button>
    <ion-title >
      <a [routerLink]='["/home"]' ><img src="/assets/logo.png"   style="width: 200px;" class="img"   alt=""></a>
    </ion-title>
  </ion-toolbar>
  <h3 class="subtitulo encabezado">Recuperar Contraseña   </h3>
  <form action="">
    <br>
    <ion-item  class="text">
      <ion-label class="normal" id="email" >
      </ion-label>
      <ion-input class="normal2 "placeholder="Ingresar Email "   type="email" name="email" #email required ></ion-input>
      <ion-icon  slot="end" name="mail-outline" color="danger"></ion-icon>
    </ion-item>
    <br>
    <ion-button expand="medium" shape="round" class="bcentrado" color="danger" type="submit" (click)="onResetPassword(email)"   > 
      Recuperar
    </ion-button>
  </form>
</ion-header>

